/* MAIN */

@import "../css/main/helpers.css";

/* EMAIL */

@import "../css/apps/email/cmps/email-list.css";
@import "../css/apps/email/cmps/email-compose.css";

/* KEEP */

@import "../css/apps/keep/cmps/compose.css";

/* GENERAL */

* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

body {
    margin: 0;
    padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/* EMAIL NAV*/

.email-nav {
    background-color: #292929;
    height: 131px;
    padding: 30px;
    border-bottom: solid #1c1c1c;
    justify-content: center;
}

.email-nav>* {
    color: antiquewhite
}

.email-dev-container {
    background: red;
    width: 10%;
    padding-inline-start: unset;
    padding-inline-start: 0px;
}

.email-dev-item {
    padding: 0;
}

.email-dev-item>* {
    list-style: none;
    padding: 1em 3em;
    text-align: center;
    /* padding-inline-start:unset; */
    border-bottom: 1px solid black;
}

.email-dev-item>*:hover {
    cursor: pointer;
}

.email-logo {
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
}

.new-mail-btn {
    font-size: 1.5rem;
    font-weight: bolder;
}

.email-logo:hover {
    border-radius: 15%;
    border-bottom: 2px solid white;
}

.new-mail-btn:hover {
    border-bottom: 2px solid white;
    background-color: unset;
}


/*/////////////////////////////////////////////////////////////*/


/* KEEP NAV*/


/* 
.email-nav {
    background-color: #292929;
    height: 131px;
    padding: 30px;
    border-bottom: solid #1c1c1c;
    justify-content: center;
}

.email-nav>* {
    color: antiquewhite
}

.email-dev-container {
    background: red;
    width: 10%;
    padding-inline-start: unset;
    padding-inline-start: 0px;
}

.email-dev-item {
    padding: 0;
}

.email-dev-item>* {
    list-style: none;
    padding: 1em 3em;
    text-align: center;
    /* padding-inline-start:unset; */


/* border-bottom: 1px solid black;
}

.email-dev-item>*:hover {
    cursor: pointer; */


/* }  */


/*////////////////////////////////////////////////////////*/
/*NOTE PREV*/
.note-container{
    width: fit-content;
    height: fit-content;
    ;
}

.preview-container-note{
    background: red;
}

/*HANDLERS*/

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.column {
    flex-direction: column;
}

.border {
    border-style: solid;
    border-width: 1px;
}