/* MAIN */

@import "../css/main/helpers.css";

/* EMAIL */

@import "../css/apps/email/cmps/email-list.css";
@import "../css/apps/email/cmps/email-compose.css";

/* GENERAL */

* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/* EMAIL NAV*/

.email-nav {
    background-color: #292929;
    height: 131px;
    padding: 30px;
    border-bottom: solid #1c1c1c;
    justify-content: center;
}

.email-nav>* {
    color: antiquewhite
}

.email-dev-container {
    background: red;
    width: 10%;
    padding-inline-start: unset;
    padding-inline-start: 0px;
}

.email-dev-item {
    padding: 0;
}

.email-dev-item>* {
    list-style: none;
    padding: 1em 3em;
    text-align: center;
    /* padding-inline-start:unset; */
    border-bottom: 1px solid black;
}

.email-dev-item>*:hover {
    cursor: pointer;
}
/*/////////////////////////////////////////////////////////////*/
/* KEEP NAV*/
/* 
.email-nav {
    background-color: #292929;
    height: 131px;
    padding: 30px;
    border-bottom: solid #1c1c1c;
    justify-content: center;
}

.email-nav>* {
    color: antiquewhite
}

.email-dev-container {
    background: red;
    width: 10%;
    padding-inline-start: unset;
    padding-inline-start: 0px;
}

.email-dev-item {
    padding: 0;
}

.email-dev-item>* {
    list-style: none;
    padding: 1em 3em;
    text-align: center;
    /* padding-inline-start:unset; */
    /* border-bottom: 1px solid black;
}

.email-dev-item>*:hover {
    cursor: pointer; */
/* }  */
/*////////////////////////////////////////////////////////*/
/*HANDLERS*/
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.column {
    flex-direction: column;
}

.border {
    border-style: solid;
    border-width: 1px;
}