/* EMAILS LIST */

.emails-container {
    padding: 10px;
    border: 3px solid black;
    width: 80%;
}


/* EMAILS PREVIEW */

.preview-container-email {
    padding: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    list-style: none;
}

.isMsgNotRead {
    font-weight: bolder;
}

.isMsgRead {
    font-weight: unset;
}

.msg-sender {
    width: 20%;
}

.msg-subject {
    width: 30%;
}

.msg-short-body {
    width: 50%;
}


/* EMAIL DETAILS */

.msg-details {
    padding-top: 10px;
}

.msg-main-content {
    padding: 10px;
}