/* GENERAL */

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
    padding: 2px;
}

button:hover {
    background-color: rgba(211, 211, 211, 0.486);
    border-radius: 20%;
}

img {
    height: 20px;
}


/* EMAILS LIST */

.emails-container {
    padding: 10px;
    border: 3px solid black;
    width: 80%;
}


/* EMAILS PREVIEW */

.preview-container-email {
    padding: 10px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
    list-style: none;
}

.isMsgNotRead {
    font-weight: bolder;
}

.isMsgRead {
    font-weight: unset;
}

.msg-sender {
    width: 20%;
}

.msg-subject {
    width: 30%;
}

.msg-short-body {
    width: 40%;
}

.send-time {
    width: 10%;
    padding: 2px;
    text-align: center;
}

.reading-stat-img {
    height: 20px;
    width: 20px;
}


/* EMAIL DETAILS */

.msg-btns {
    padding: 10px;
}

.msg-details {
    padding-top: 10px;
}

.msg-details h3 {
    padding: 3px;
}

.msg-main-content {
    padding: 10px;
}