/* GENERAL */

.new-msg {
    width: 80%;
}

.new-msg {
    /* outline: 1px solid black; */
    margin: 10px;
    width: 110%;
}

hr {
    margin: 4px 0;
}


/* HEADER */

.new-msg-header {
    background-color: black;
    color: white;
    height: 45px;
    padding: 14px;
    font-weight: bolder;
}

.new-msg img {
    background-color: white;
    border-radius: 15%;
    cursor: pointer;
}


/* MAIN CONTENT */

.new-msg table {
    padding: 5px;
}

.new-msg td {
    width: 100%;
}

.new-msg input {
    border: unset;
    outline: unset;
    width: 88%;
}

textarea {
    border: 1px solid lightgrey;
    outline: 1px solid lightgrey;
    width: 100% !important;
    height: 200px;
}