.new-keep {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.233);
}

.new-keep input {
    outline: unset;
    border: unset;
    margin-bottom: 5px;
    width: 80%;
    height: 25px;
}

.icon {
    display: inline-block;
    margin: 3px;
    padding: 3px 3px 0 3px;
    border-radius: 10%;
    cursor: pointer;
}

.icons {
    width: 20%;
}

.iImage:hover {
    background-color: rgb(207, 207, 207);
}

.iText:hover {
    background-color: rgb(207, 207, 207);
}

.iTodos:hover {
    background-color: rgb(207, 207, 207);
}

.iVideo:hover {
    background-color: rgb(207, 207, 207);
}

.line1 {
    background-color: white;
}

.line2 {
    height: fit-content;
}

.line2 img {
    width: 40px;
    height: 40px;
}

.keep-text-area {
    outline: unset;
    border: unset;
    width: 100%;
    height: 150px;
    resize: none;
}

.keep-text-area::placeholder {
    transform: translateY(100%);
}

.pin-keep-btn {
    border-radius: unset !important;
    /* flex-grow: ; */
}

.save-keep-btn {
    flex-grow: 2;
    border-radius: unset !important;
}